@import (inline ) "./ol-popup.css";
@headerHeight: 80px;
@transitionTime: 0.2s;

header {
  display: flex;
  background: rgb(206, 206, 206);
  background: linear-gradient(90deg, rgba(203, 32, 40, 1) 0%, rgba(203, 32, 40, 1) 49%, rgb(246, 246, 246) 100%);
  img {
    margin: 4px;
  }

  #title-bar {
    flex: 1;
    padding-left: 15px;

    h2 {
      margin: 7px 0;
      color: white;
    }
  }
}

html, body, #root, #app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: @headerHeight;
}

#app-container {

  #map-container {
    // check value of @headerHeight: 80px;
    height: ~"calc(100% - 80px)";;
    display: flex;

    > div {
      height: 100%;
    }
  }
}

#accordion-container {
  display: none;
  width: 350px;
  position: relative;
  transition: width @transitionTime;

  #hider {
    position: absolute;
    right: -51px;
    z-index: 5;
    transform: rotate(90deg);
    top: 96px;
    background-color: #CB2028;
    border: solid #9c1d22 1px;
    padding: 5px 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    cursor: pointer;
  }

  #accordion {

    > h3 {
      margin: 0;
      padding: 6px;
      border-bottom: none;
    }

    > div {
      padding: 10px;
      border-bottom: none;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
      background-color: #CB2028;
      border-color: #9c1d22;
    }
  }
}

#accordion-container.collapsed {
  width: 0;

  #hider {
    display: none;
  }
}

#accordion-container-collapsed {
  //display: none;
  background-color: #CB2028;
  transition: width @transitionTime;
  position: relative;
  width: 28px;

  #shower {
    left: -26px;
    top: 24px;
    position: absolute;
    border: solid #9c1d22 2px;
    color: white;
    padding: 4px 10px;
    cursor: pointer;
    transform: rotate(90deg);
  }
}

#accordion-container-collapsed.collapsed {
  width: 0;
}

#map {
  height: 100%;
  flex: 1;
  position: relative;

  #crash-info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    height: 200px;
    width: 300px;
    background-color: white;
    overflow: auto
  }
}

#legend-table {
  border-collapse: collapse;

  th, td {
    border: solid black 1px;
    text-align: center;
    padding: 1px 3px;
  }
}
